body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #000;
}
a {
  font-weight: bold;
}
body, a {
	color: #fff;
}
.license {
  color: #ccc;
  font-style: italic;
}
.license img {
  width: auto;
  height: 2em;
}
